[Unit]
Description=gunicorn3 for hackaday-19-hang
After=network.target

[Service]
Type=simple
WorkingDirectory=/hackaday/day19_hang
ExecStart=/usr/local/bin/flask run --host=0.0.0.0 --port=8019

[Install]
WantedBy=multi-user.target
